<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Re-subscribe</title>
</head>
<body>
<div>
    /* Add logic to handle this */
    <h1>You [<%= email %>] have been resubscribe</h1>
    <div>
        <p>Great to have you back!&nbsp;</p>
    </div>
</div>
</body>
</html>
